@model IEnumerable<DataObjects.RoomVM>

@{
    ViewBag.Title = "Reschedule";
    DataObjects.Reservation reservation = ViewBag.Reservation;
}

<h2>Reschedule</h2>

<div class="justify-content-center">
    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title">Plan your getaway today!</h3>
            <h4 class="card-text m-2">Select your check in and check out dates below:</h4>
            <div class="mx-auto">
                <!-- Form START -->
                <form method="post" action="@Url.Action("Reschedule", "Reservation", new { reservationID = reservation.ReservationID })">
                    <label for="checkIn" class="h5">Check In:</label>
                    <input type="date" id="checkIn" name="checkIn" class="h5" value="@ViewBag.CheckIn">
                    <label for="checkOut" class="h5">Check Out:</label>
                    <input type="date" id="checkOut" name="checkOut" class="h5" value="">
                    <button class="btn h3 mx-2" type="submit">Search</button>
                </form>
                <!-- Form END -->
                <h4>Search: @(ViewBag.CheckIn) - @(ViewBag.CheckOut)</h4>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap w-100 justify-content-center">
    @{
        if (ViewBag.Error != null)
        {
            <h1 class="text-danger text-center">@ViewBag.Error</h1>
        }
        if (Model != null)
        {
            foreach (var room in Model)
            {
                <div class="card m-3" style="width: 18rem;">
                    @if (room.RoomTypeID == "Single")
                    {
                        <div class="d-flex justify-content-center">
                            <div id="carouselExampleIndicators@(room.RoomID)" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="~/Images/single/Bed.jpg" class="d-block w-100" alt="Lobby" style="backdrop-filter: blur(.4em); ">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/Images/single/Balcony.jpg" class="d-block w-100" alt="Lobby" style="backdrop-filter: blur(.4em); ">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/Images/single/Bathroom.jpg" class="d-block w-100 text-center" alt="Lobby" style="backdrop-filter: blur(.4em);">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/Images/single/BathroomLookingOutside.jpg" class="d-block w-100" alt="Lobby" style="backdrop-filter: blur(.4em); ">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators@(room.RoomID)" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators@(room.RoomID)" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center">
                            <div id="carouselExampleIndicators@(room.RoomID)" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="~/Images/Double/DoubleRoom.jpg" class="d-block w-100" alt="Lobby" style="backdrop-filter: blur(.4em); ">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/Images/Double/BalconyView.jpg" class="d-block w-100" alt="Lobby" style="backdrop-filter: blur(.4em); ">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/Images/Double/BalconyViewToRoom.jpg" class="d-block w-100 text-center" alt="Lobby" style="backdrop-filter: blur(.4em);">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/Images/Double/Shower.jpg" class="d-block w-100" alt="Lobby" style="backdrop-filter: blur(.4em); ">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators@(room.RoomID)" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators@(room.RoomID)" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    }
                    <div class="card-body">
                        <h5 class="card-title">Room: @room.RoomID</h5>
                        <p class="card-text">Type: @room.RoomTypeID</p>
                        <div class="d-flex justify-content-around">
                                @{ 
                                    <a href="@Url.Action("ConfirmReschedule", "Reservation", new { reservationID = reservation.ReservationID ,roomID = room.RoomID, checkIn = ViewBag.CheckIn, CheckOut = ViewBag.CheckOut})" class="btn">Select Room</a>
                                }
                        </div>
                    </div>
                </div>
            }
        }
    }
    </div>
</div>
